*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
}
form {
    align-items: center;
    justify-content: center;
    background-color: gray;
    border: 2px solid white;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.952);
    text-align: center;
    color : rgba(255, 255, 255, 0.457);
    opacity:0.9;
    
}
form a {
    text-decoration: none;
    color: rgb(0, 255, 174);
}
form button a{
    background-color: rgb(0, 255, 174);
    color: black;
    border-radius: 5px;
}
h1{
    text-align: center;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    image-resolution: 100dpi;
    size-adjust: 20%;
    height: 200px;
    width: 300px;
    margin-left: 39.5%;
    margin-right: 39.5%;

}
.login:hover {
    background-color: rgb(4, 4, 75);
    border: 2px solid white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.952);
}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(4, 4, 75);
    width: 100%;
    height: 280px;
    margin-left: 0%;
    margin-bottom: 0%;
    align-items: center;
    color: white;


}
.copy_right {
    font-size: 14px;
    align-items: center;
    

}
.social_media {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;

}
.help {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}
.help p {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}
span {
    display: flex;
    gap: 50px;
    margin-left: 5px;
}
.social_media p {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

#Side_bar {
    opacity:0;
}
.items{
    margin: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    align-items: center;
}
.side_bar {  
    position: fixed;
    background-color: rgb(87, 87, 87,0.4);
    width: 250px;
    height: 100vh;
    left: -300px;
    border-top-right-radius: 10px;
}
div h2 {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 8px;
    color: darkblue;
    margin-top: 8px;
}
.btn_one{
    color: rgb(0, 0, 51);
    font-size:x-large;
    margin-left:8px;
    width: fit-content;
    margin-top: -10px;
}
.btn_two{
    color: rgb(0, 0, 51);
    font-size: 18px;
    margin-left: 50px;
    width: fit-content;
    margin-top: 8px;

}
.btn_one i:hover{
    font-size: x-large;

}
li:hover{
    background-color: white;
    opacity: 0.5;

}
li{
    color: rgb(0, 0, 0);
    padding:5px;
}
li a {
    text-decoration: none;
    color: rgb(0, 0, 51);
}
#Side_bar:checked ~ .side_bar {
    left: 0px;   
}
#Side_bar:checked ~ .side_bar .btn_one{
    opacity: 0;
}